%h1 Missions
%h2 Open missions

- if @open_missions
  %ul
    - @open_missions.each do |mission|
      %li= link_to mission, mission
- else
  %p Currently no open missions...

- if user_signed_in?
  %h2 My missions
  %ul
    - current_user.missions.each do |mission|
      %li= link_to mission, mission

  %p= link_to "Create new mission", new_mission_path
